body{
	margin:0;
	color:grey;
	background:#ffffff;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.logoSite{
  display:inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.header{
    background-color: rgba(211,211,211, 0.3)
}

.section1{
    height: 70px;
}


.formLogin{
    margin-left: auto;
    margin-right: auto; 
    max-width: 3000px;
    border-style:solid ;
    box-shadow: 5px 5px 5px grey;
    width: 800px;
    height: 360px;

}
.nameForm{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 30px;
    color: white;
    
}

.inputUsername{
    width: 400px;
    height: 40px;
}

.inputPassword{
    width: 400px;
    height: 40px;
    margin-left: 8px
}

.label{
    font-size: 18px;
    color: grey !important;
}

.btnLogIn{
    margin-left: 110px; 
    height: 40px;
    width: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: 800;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background: rgb(0,0,0,0.37);
    box-shadow: 5px 5px white;
}

.btnReset{
    height: 40px;
    width: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: 800;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background: rgb(0,0,0,0.37);
    box-shadow: 5px 5px white;
}

.forgotPass{
    font-size: 15px;
    color: grey;
    margin-left: 120px;
    margin-top: -200px !important;
    
}

.divForm{
    background: rgb(0,0,0,0.37);;
}


